body {
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Emilysgardenoyokuso.jpg);
    background-size: auto;
    background-position: center;
    padding: 0;
    margin: 0 auto;
    font-family: bell mt;
    text-align: center;
    color: #fff;
}

h1 {
  padding-top: 10px;
  font-family: Tahoma, Arial, sans-serif;
  margin: 10px 0;
}

.box {
  width: 20%;
  margin: 0 auto;
  padding:25px;
  border: 2px solid #fff;
  border-radius: 15px/35px;
  background-clip: padding-box;

}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-out;
}
.button:hover {
  background: #227d7b; border-radius: 10px
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 0.3s ease-out
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: visible;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
input{
  width: 50%;
  display: block;
  margin: 15px auto;

}